@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');




h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 20px;
    font-size: 60px;
    color: #ffffff;
    background: linear-gradient(35deg, #bd69a8 33%, #8763be 66%, #c9d1dd);
    background-clip: text;
    color: transparent;

}
